.container{
  margin-left: 10px;
  margin-top: 40px;
  height: auto;
  width: 700px;
}

.li-taht-comment{
  background-color: rgba(255, 252, 240, 0.784);
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
}


.li-taht-comment span {
  display: inline-block;
}

.username {
  font-weight: bold;
  font-family: monospace;
  display: inline-block;
}

.comment-container{
  padding: 20px;
}

.submit-review{
  background-color: rgba(255, 252, 240, 0.784);
  border-radius: 5px;
  width: 520px;
}

button[type="submit"] {
  background-color: #77561A; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border-radius: 12px;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
  width: 70%;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  border-color: #4CAF50;
  box-shadow: 0 0 5px #4CAF50;
}
