<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <label>
    Comment:
    <input type="text" formControlName="comment" />
  </label>
  <label>
    Rating:
    <p-rating formControlName="value" [cancel]="false" [stars]="5">
      <ng-template pTemplate="onicon">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png"
          alt="star"
          width="25px"
          height="25px"
        />
      </ng-template>
      <ng-template pTemplate="officon">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png"
          alt="star"
          width="25px"
          height="25px"
        />
      </ng-template>
    </p-rating>
  </label>
  <!-- <input type="number" formControlName="rating" min="1" max="5" />
  </label>-->

  <button type="submit">Submit</button>
</form>

<div *ngFor="let review of reviews">
  <h3>{{ review.user.username }}</h3>
  <p>{{ review.content }}</p>
  <p>
    Rating:
    <star-rating
      [starType]="'icon'"
      [hoverEnabled]="false"
      [rating]="review.rating"
      [readOnly]="true"
    ></star-rating>
    <!-- <span *ngFor="let star of getStars(review.rating)">⭐</span> -->
  </p>
</div>
