<form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
  <label>
    Comment:
    <input type="text" formControlName="comment" />
  </label>
  <label>
    Rating:
    <p-rating formControlName="value" [cancel]="false" [stars]="5">
      <ng-template pTemplate="onicon">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon-active.png"
          width="25px"
          height="25px"
        />
      </ng-template>
      <ng-template pTemplate="officon">
        <img
          src="https://primefaces.org/cdn/primeng/images/demo/rating/custom-icon.png"
          width="25px"
          height="25px"
        />
      </ng-template>
    </p-rating>
  </label>

  <button type="submit">Submit</button>
</form>

<div
  style="background-color: rgba(255, 252, 240, 0.784); margin-right: 50px"
  *ngFor="let review of reviews"
>
  <h3>{{ review.user.username }}</h3>
  <p>{{ review.content }}</p>

  <span *ngFor="let star of getStars(review.rating)">⭐</span>
</div>
