.content {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}



.update-user, .delete-user, .add-book, .update-book, .delete-book, .delete-reservation{
  margin-left: 30%;
  margin-top: 50px;
  width: 40%;
}


table {
  width: 90%; /* Adjust the width to make the table smaller */
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 15px; /* Add this to make the edges rounder */
  overflow: hidden; /* Add this to apply the border-radius to all table elements */

}

table th, table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;

}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}
table tr:nth-child(odd) {
  background-color: whitesmoke;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: rosybrown;
  color: white;
}

.update-user form .btn, .delete-user form .btn, .add-book form .btn, .update-book form .btn, .delete-book form .btn, .delete-reservation form .btn {
  display: block;
  margin: 0 auto;
}

.update-user form input, .delete-user form input, .add-book form input, .update-book form input, .delete-book form input , .delete-reservation form input{
  margin-bottom: 10px; /* Adjust this value as needed */
}

.delete-reservation, .delete-book{
  margin-top: 50px;
}





