.button-container {
    width: 350px;
    text-align: center;
  }
  
  .modern-button {
    background-color: #77561A;
    color: #fff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .modern-button:hover {
    background-color: #c1ce5b; /* Green */
    color: white;
  }